

#intro{
    background-color: #f7f0dc;
    background-size: cover;
    background-position: center;
    color: black;
    height: calc(100vh - 4rem);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.file {
    position: absolute !important;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80%;
    margin-right: 50px;
    margin-top: 50px;
    width: 40%;
}

.intoContent{
    border-radius: 2rem;
    height: 80vh;
    width: 50%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 50px;
}

.hello{
    font-family: "Spicy Rice", serif;
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: rgb(230, 133, 6);
}
.introName, .introText {
    font-family: "Spicy Rice", serif;
}
.introText {
    font-size: 4rem;
    font-weight: 700;
}

.introPara{
    font-size:small;
    font-weight: 300;
    letter-spacing: 1px;
    width: 65%;
}


.callToActionLinkedin{
    font-size: small;
    background: rgb(230, 133, 6);
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    cursor: pointer;
    text-align: left;
} 
.callToActionLinkedin svg {
    width: 1.25rem;
    height: 1.25rem;
}

@media screen and (max-width: 840px) {
    .file {
        right: -10vw
    }
    .intoContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}
@media screen and (max-width:480px) {
    .file {
        right: -20vw
    }
}